<%- include('./partials/Header.ejs') %>

<div class="bg-[#FFFFF0]">
  <div class="mx-auto  max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <% if (cat){ %>

      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Pick your favorite <%= displayCategory%> <i class="ri-shopping-cart-2-line"></i> </h2>     
   <% } %>
   <%if (gen) {%>
    <%if(gender === 'Men'){%>
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Welcome to <%= gender%>'s section <i class="ri-men-line"></i> </h2>
    <%}%>
    <%if(gender === 'Women'){%>
      <h2 class="text-2xl font-bold tracking-tight text-gray-900">Welcome to <%= gender%>'s section <i class="ri-women-line"></i></h2>
   <% }%>
   <%}%>
    
    <!-- Filter Section -->
    <% if (cat) { %>
      <div class="flex justify-end gap-2 items-center mt-4">
        <form action="/clothings/<%= category%>" method="get">
        <label for="gender-filter" class="mr-2 text-sm font-medium text-gray-700">Gender:</label>
        <select id="gender-filter" name="gender" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-3 text-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
          <option value="all">All</option>
          <option value="men">Men</option>
          <option value="women">Women</option>
        </select>
        <input class="bg-blue-300 ml-2 px-4 py-1 rounded" type="submit" value="filter">
      </form>
      </div>
    <% } %>
   
    
    <!-- Product Listings -->
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% selectedProducts.forEach((fit) => { %>
      <div class="group relative flex flex-col scroll-card">
        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
          <img src="<%= fit.mainImage %>" alt="Product Image" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="/products/<%= fit._id %>">
                <span aria-hidden="true" class="absolute"></span>
                <%= fit.title %>
              </a>
            </h3>
            <% if (fit.color && Array.isArray(fit.color)) { %>
              <% for (let j = 0; j < fit.color.length; j++) { %>
                <span class="color-dot mt-4 inline-block h-4 w-4 rounded-full" style="background-color: <%= fit.color[j] %>; margin-right: 4px;"></span>
              <% } %>
            <% } %>
          </div>
          <p class="text-sm font-medium text-gray-900"><%= fit.price %></p>
        </div>
        <div class="mt-auto flex flex-col space-y-2 sm:space-y-0 sm:space-x-2 sm:flex-row">
          <button  data-fitId="<%= fit._id%>" class="w-full add-btn mt-5 bg-slate-500 text-white py-2 px-4 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><i class="ri-shopping-cart-2-line"></i> Add to cart
          </button>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('./partials/Footer.ejs') %>
<script>
  scrollCard()
  addToCart()
</script>